<div class="comment-list__container">
  <nb-card>
    <nb-card-header>
      Comments
    </nb-card-header>
    <nb-card-body>
      <div class="new-comment-input__wrap">
        <input
          fullWidth
          type="text"
          nbInput
          [(ngModel)]="commentBody.text"
          [placeholder]="'Do you think you can help?'"
        />
      </div>
      <button
        nbButton
        shape="round"
        fullWidth
        hero
        (click)="createComment()"
        [disabled]="!commentBody.text"
      >
        <nb-icon icon="message-square-outline"></nb-icon>
        Leave Comment
      </button>
      <nb-list class="comment-list">
        <nb-list-item *ngFor="let entry of commentUserList; let i = index;">
          <div>
            <nb-user
              size="giant"
              [name]="
                entry?.userInfo?.firstName + ' ' + entry?.userInfo?.lastName
              "
              [picture]="entry?.userInfo.pictureUrl"
              [title]="entry?.comment?.createdAt | customShortDate"
            >
            </nb-user>
            <div>
              <h6>{{ entry?.comment?.text }}</h6>
            </div>
          </div>
          <div
            class="comment-opts__wrap"
            *ngIf="commentBody?.owner=== entry?.userInfo?.userId"
          >
            <button
              nbButton
              ghost
              shape="round"
              status="basic"
              nbTooltip="Edit your comment"
              nbTooltipStatus="info"
              (click)="startCommentEdit(commentEditor, i)"
            >
              <nb-icon icon="edit-outline"></nb-icon>
            </button>
            <button
              nbButton
              ghost
              shape="round"
              status="basic"
              nbTooltip="Delete your comment"
              nbTooltipStatus="danger"
              (click)="deleteComment(entry?.comment?._id)"
            >
              <nb-icon icon="trash-2-outline"></nb-icon>
            </button>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-card-body>
    <nb-card-footer>
      <helping-hand-paginator
        [query]="commentQuery"
        [resourceTotalCount]="commentsTotalCount"
        (pageChange)="handlePageChange($event)"
      >
      </helping-hand-paginator>
    </nb-card-footer>
  </nb-card>
</div>

<ng-template #commentEditor let-ref="dialogRef" let-context>
  <nb-card>
    <nb-card-header>Edit your comment</nb-card-header>
    <nb-card-body>
      <textarea
        nbInput
        fullWidth
        [(ngModel)]="context.commentText"
      >
      </textarea>
    </nb-card-body>
    <nb-card-footer>
      <nb-actions>
        <nb-action>
          <button
            nbButton
            status="warning"
            shape="round"
            (click)="ref.close()"
          >
            cancel
          </button>
        </nb-action>
        <nb-action>
          <button
            nbButton
            shape="round"
            (click)="
              saveCommentEdit(
                context.commentId,
                context.commentText,
                context.commentIndex,
                ref
              )
            "
          >
            save
          </button>
        </nb-action>
      </nb-actions>
    </nb-card-footer>
  </nb-card>
</ng-template>
