<div class="paginator__container">
  <button
    size="small"
    nbButton shape="round"
    [disabled]="query.skip === 0"
    (click)="onPageNav(paginationDirection.Left)"
  >
    <nb-icon icon="chevron-left-outline"></nb-icon>
    Previous Page
  </button>
  <button
    size="small"
    nbButton shape="round"
    (click)="onPageNav(paginationDirection.Right)"
    [disabled]="currentPage * query.limit >= (resourceTotalCount || 0)"
  >
    Next Page
    <nb-icon icon="chevron-right-outline"></nb-icon>
  </button>
</div>
