<div class="community__container">
  <h5>Community</h5>
  <nb-card>
    <nb-card-body>
      <nb-list>
        <nb-list-item *ngFor="let user of userList">
          <div>
            <nb-user
              badgePosition="bottom end"
              badgeStatus="warning"
              [badgeText]="(user.profileBody?.metadata?.totalStars || 0) + ' stars'"
              [name]="user?.firstName + ' ' + user?.lastName"
              size="giant"
              [picture]="user?.pictureUrl"
              [title]="user?.role"
            >
            </nb-user>
            <div class="community__profile-description__wrap">
              <ng-container
                *ngTemplateOutlet="
                  user?.profileBody?.bio.length > 200 ? partialBio : fullBio
                "
              ></ng-container>
              <ng-template #fullBio>
                <p>{{ user?.profileBody?.bio }}</p>
              </ng-template>
              <ng-template #partialBio>
                <p [nbPopover]="user?.profileBody?.bio">
                  {{ user?.profileBody?.bio.substring(0, 200).concat('...') }}
                </p>
              </ng-template>
            </div>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-card-body>
    <nb-card-footer>
      <div class="user-list__pagin__wrap">
        <button
          size="small"
          nbButton shape="round"
          [disabled]="userQuery.skip === 0"
          (click)="onPageNav('prev')"
        >
          <nb-icon icon="chevron-left-outline"></nb-icon>
          Previous Page
        </button>
        <button
          size="small"
          nbButton shape="round"
          (click)="onPageNav('next')"
          [disabled]="currentPage * userQuery.limit >= usersTotalCount"
        >
          Next Page
          <nb-icon icon="chevron-right-outline"></nb-icon>
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</div>
