.profile__actions-wrap {
  margin-top: 20px;
}

.profile__bio__textarea {
  width: 100%;
}

.profile__pref-opts__wrap {
  width: 100%;
  & > div {
    margin-top: 20px;
  }
  & > button {
    margin-top: 10px;
  }
}

.profile__tip__wrap {
  & > span {
    opacity: .6;
  }
  margin-bottom: 20px;
}

.profile__tiny-btn {
  margin-top: 10px;
}
