<div>
  <nb-user
    badgePosition="bottom end"
    badgeStatus="success"
    [badgeText]="(profile?.metadata?.totalStars || 0) + ' stars'"
    size="giant"
    [title]="loggedInUser?.role"
    [name]="loggedInUser?.firstName + ' ' + loggedInUser?.lastName"
    [picture]="loggedInUser.pictureUrl"
  >
  </nb-user>
  <div>
    <div>
      <h5>How do you want members of the community to reach you?</h5>
      <div class="profile__tip__wrap">
        <span
          >Tip: Remember that the Helping Hand community will be able to see the
          information you make available here. Only share information you feel
          comfortable with other users seeing.</span
        >
      </div>
      <nb-card>
        <nb-card-body>
          <nb-list>
            <nb-list-item *ngFor="let dataKey of profileDataKeys">
              <div class="profile__pref-opts__wrap">
                <nb-toggle
                  [status]="
                    profile?.publicDataKeys?.includes(dataKey)
                      ? 'primary'
                      : 'danger'
                  "
                  [ngModel]="profile?.publicDataKeys?.includes(dataKey)"
                  (checkedChange)="toggleDataKeyVisibility(dataKey)"
                  >{{ profileDataKeyDisplayMap[dataKey] }}</nb-toggle
                >
                <div *ngIf="profile?.publicDataKeys?.includes(dataKey)">
                  <input
                    nbInput
                    [disabled]="dataKey === 'email'"
                    fullWidth="true"
                    [(ngModel)]="(profile?.data)[dataKey]"
                    placeholder="enter your {{
                      profileDataKeyDisplayMap[dataKey]
                    }} here"
                  />
                </div>
              </div>
            </nb-list-item>
          </nb-list>
        </nb-card-body>
        <nb-card-footer>

          <button
          nbButton
          fullWidth
          size="small"
          class="profile__tiny-btn"
          (click)="saveProfile()"
        >
          <nb-icon icon="person-done-outline"></nb-icon>
          Update Contact Details
        </button>
        </nb-card-footer>
      </nb-card>
      <nb-card>
        <nb-card-header>
          <h5>Why not say a little about yourself?</h5>
        </nb-card-header>
        <nb-card-body>
          <div class="profile__tip__wrap">
            <span
              >Make your profile yours. The more you tell us, the more you stand out.</span
            >
          </div>
          <textarea
            nbInput
            [(ngModel)]="newBio"
            fieldSize="giant"
            name="bio"
            class="profile__bio__textarea"
          ></textarea>
          <div class="profile__actions-wrap">
            <button nbButton (click)="saveProfile()">
              <nb-icon icon="save-outline"></nb-icon>
              Save Bio
            </button>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
