<div>
  <nb-user
      size="giant"
      [title]="loggedInUser?.role"
      [name]="loggedInUser?.firstName + ' ' + loggedInUser?.lastName"
      [picture]="loggedInUser.pictureUrl"
    >
</nb-user>
<h5>Why not say a little about yourself?</h5>
  <label for="bio"><h4>About</h4></label>
  <textarea nbInput fieldSize="giant" [(ngModel)]="newBio" name="bio" class="profile__bio__textarea"></textarea>
  <div class="profile__actions-wrap">
    <button nbButton (click)="saveProfile()">Save</button>
  </div>
</div>
