.favor-request-list__opts__wrap {
  margin-top: 20px;
  & > button {
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

.favor-request-list__help-btn {
  animation: pulsate 2s infinite;
}

.favor-request-list__pagin__wrap {
  display: flex;
  flex-direction: row;
  & > button {
    margin-right: 20px;
    margin-top: 20px;
  }
}

@keyframes pulsate
{
     0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
     }
     100% {
          box-shadow: 0 0 0 16px rgba(0, 0, 0, 0);
     }
}
