<nb-actions size="medium" accent="primary" responsive>
  <nb-action>
    <h4 class="header__heading" (click)="goHome()">
      Helping Hand
    </h4>
  </nb-action>
  <nb-action>
    <span class="header__opt">
      Feed
    </span>
  </nb-action>
  <nb-action>
    <span class="header__opt">
      Profile
    </span>
  </nb-action>
  <nb-action>
    <span class="header__opt">
      Community
    </span>
  </nb-action>
  <nb-action *ngIf="loggedInUser">
    <span (click)="logout()" class="header__opt">
      Log Out
    </span>
  </nb-action>
  <nb-action *ngIf="loggedInUser"
  ><nb-user
    size="medium"
    [name]="loggedInUser?.firstName + ' ' + loggedInUser?.lastName"
    [picture]="loggedInUser.pictureUrl"
  >
  </nb-user
></nb-action>
</nb-actions>
