@import '../../../themes';



.header__heading {
  &:hover {
    cursor: pointer;
  }
  @media only screen and (max-width: 768px){
    font-size: 13px;
  }
}

.header__opt {
  &:hover {
    opacity: .6;
    cursor: pointer;
  }
}

.header__lap {
  @media only screen and (max-width: 768px){
    display: none;
  }
}

.header__palm {
  display: none;
  @media only screen and (max-width: 768px) {
    display: block;
  }
}

.header__link {
  text-decoration: none;
  opacity: .6;

  &:hover {
    opacity: 1;
    cursor: pointer;
    color: nb-theme(color-primary-400) !important;
  }
}

.header__current-link {
  opacity: 1 !important;
  color: nb-theme(color-primary-400) !important;
}

.header__danger-link {
  opacity: .6;
  &:hover {
    cursor: pointer;
    opacity: 1;
    color: nb-theme(color-danger-400) !important;
  }
}
