<nb-actions size="medium" accent="primary" *ngIf="loggedInUser">
  <nb-action>
    <h5 class="header__heading" (click)="goHome()">
      Helping Hand
    </h5>
  </nb-action>
  <nb-action *ngIf="loggedInUser">
    <span class="header__opt" routerLink="'/pages/feed'">
      Feed
    </span>
  </nb-action>
  <nb-action>
    <span class="header__opt" routerLink="'/pages/community'">
      Community
    </span>
  </nb-action>
  <nb-action >
    <nb-user
      [nbContextMenu]="profileContextMenu"
      nbContextMenuTag="profile"
      size="medium"
      [name]="loggedInUser?.firstName + ' ' + loggedInUser?.lastName"
      [picture]="loggedInUser.pictureUrl"
    >
    </nb-user>
  </nb-action>
</nb-actions>
