<div class="back-btn__wrap">
  <button
    ghost
    nbButton
    routerLink="pages/feed">
    <nb-icon icon="chevron-left-outline"></nb-icon>
    Back
  </button>
</div>
<h3>Your Posts</h3>
<div *ngIf="posts?.length > 0">
  <nb-accordion>
    <nb-accordion-item *ngFor="let post of posts; let i = index;">
     <nb-accordion-item-header>
        {{ post?.title}}
     </nb-accordion-item-header>
     <nb-accordion-item-body>
       <p>{{ post?.text }}</p>
       <div>
        <button nbButton ghost status="info">
          <nb-icon icon="edit-outline"></nb-icon>
           Edit
         </button>
         <button
          (click)="deleteUserPost(i)"
          nbButton
          ghost
          status="danger">
          <nb-icon icon="trash-2-outline"></nb-icon>
           Delete
         </button>
       </div>
     </nb-accordion-item-body>
    </nb-accordion-item>
   </nb-accordion>
</div>
<div>
  <h4 class="no-posts-placeholder">No posts yet.</h4>
</div>
