.back-btn__wrap {
  margin-bottom: 20px;
}

.no-posts-placeholder {
  opacity: .6;
}

.post-list__pagin__wrap {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  & > button {
    margin-right: 20px;
    margin-top: 20px;
  }
}

.post-opts__wrap {
  & > button {
    margin-right: 20px !important;
  }
}


.delete-post-opts__wrap {
  & > button {
    margin-right: 20px;
  }
}

.editor__wrap {
  max-height: 50vh !important;
}
