<div class="back-btn__wrap">
  <button
    ghost
    nbButton shape="round"
    routerLink="pages/feed">
    <nb-icon icon="chevron-left-outline"></nb-icon>
    Back
  </button>
</div>
<h3>Your Posts</h3>
<div *ngIf="posts?.length > 0">
  <nb-card *ngFor="let post of posts; let i = index;">
    <nb-card-header>
      {{ post?.title }}
    </nb-card-header>
    <nb-card-body>
      <div [innerHTML]="post?.text"></div>
    </nb-card-body>
    <nb-card-footer>
      <div class="post-opts__wrap">
        <button
          nbButton
          shape="round"
          hero
          status="info"
          (click)="openPostEditDialog(postEditor, i)"
        >
          <nb-icon icon="edit-outline"></nb-icon>
           Edit
         </button>
         <button
          (click)="confirmPostDeletion(i, deletionDialog)"
          nbButton shape="round"
          hero
          status="danger">
          <nb-icon icon="trash-2-outline"></nb-icon>
           Delete
         </button>
       </div>
    </nb-card-footer>
  </nb-card>
  <helping-hand-paginator
    [query]="postQuery"
    [resourceTotalCount]="postsTotalCount"
    (pageChange)="handlePageChange($event)"
  >
  </helping-hand-paginator>
</div>
<div *ngIf="!!!posts?.length">
  <h4 class="no-posts-placeholder">No posts yet.</h4>
</div>

<ng-template #deletionDialog let-ref="dialogRef" let-context>
  <nb-card>
    <nb-card-body>
      <h4>Are you sure you want to delete this post?</h4>
    </nb-card-body>
    <nb-card-footer>
      <div class="delete-post-opts__wrap">
        <button
          nbButton
          shape="round"
          ghost
          status="danger"
          (click)="ref.close()"
        >
          <nb-icon icon="close-outline"></nb-icon>
          Cancel
        </button>
        <button
          nbButton
          shape="round"
          ghost (click)="deleteUserPost(context.postIndex, ref)"
        >
          <nb-icon icon="checkmark-outline"></nb-icon>
          Confirm
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #postEditor let-ref="dialogRef" let-context>
  <nb-card>
    <nb-card-body>
      <label for="postTitle">Title:</label>
      <input
        [(ngModel)]="context.post.title"
        name="postTitle"
        type="text"
        nbInput
        fullWidth
        placeholder="Short title describing what your post is about"
      />
      <label for="description">Text:</label>
      <quill-editor
        [(ngModel)]="context.post.text"
        [styles]="{ height: '75vh' }"
      ></quill-editor>
    </nb-card-body>
    <nb-card-footer>
      <nb-actions>
        <nb-action>
          <button
            nbButton
            status="warning"
            shape="round"
            (click)="ref.close()"
          >
            cancel
          </button>
        </nb-action>
        <nb-action>
          <button
            nbButton
            shape="round"
            (click)="commitPostEdit(context.post, context.postIndex, ref)"
          >
            save
          </button>
        </nb-action>
      </nb-actions>
    </nb-card-footer>
  </nb-card>
</ng-template>
