.favor-list__new-favor__wrap {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-favor-form__container {
  & > input, textarea, button {
    margin-bottom: 20px;
  }

  & > label {
    display: inline-block;
    margin-bottom: 10px;
  }
}

.create-favor-form__tip__wrap {
  & > span {
    opacity: .6;
    font-style: italic;
  }
  margin-bottom: 20px;
}

.favor_list__no-favors-placeholder {
  opacity: .6;
}

.favor-list__favor-opts {
  & > button {
    margin-right: 20px;
    margin-bottom: 20px;
  }
}
.favor-list__pagin__wrap {
  display: flex;
  flex-direction: row;
  & > button {
    margin-right: 20px;
    margin-top: 20px;
  }
}

.favor-list__completed-favor {
  font-style: italic;
  color: black;
}

.favor-form-window {
  width: 80% !important;
}
