<div class="feed-list__container">
  <div class="feed-list__inner-container">
    <div class="feed-list__new-post__wrap">
      <button
        class="create-post__btn"
        nbButton
        shape="round"
        hero
        fullWidth
        (click)="startPostCreation(postCreateTemplate)"
      >
        <nb-icon icon="plus-outline"></nb-icon>Ask for a favour
      </button>
    </div>
    <button
      nbButton
      shape="round"
      ghost
      fullWidth
      status="basic"
      routerLink="/pages/posts/manage"
    >
      <nb-icon icon="options-outline"></nb-icon>
      Manage Favour Requests
    </button>
    <ng-container
      *ngTemplateOutlet="
        feedDataList?.length || postQuery.skip
          ? postListTemplate
          : noPostListTemplate
      "
    ></ng-container>
    <ng-template #noPostListTemplate>
      <h4 class="feed-list__no-feed-placeholder">No Favour Requests Yet</h4>
    </ng-template>
    <ng-template #postListTemplate>
      <h1>Recent Favour Requests</h1>
      <nb-select
        (selectedChange)="handleFilterChange($event)"
        shape="round"
        multiple
        status="success"
        placeholder="Filter favours"
      >
        <nb-option *ngFor="let opt of filterOpts" [value]="opt">
          {{ opt }}
        </nb-option>
      </nb-select>
      <div
        class="feed-list__post__wrap"
        *ngFor="let entry of feedDataList; let i = index"
        (click)="navigateToPost(i)"
      >
        <nb-card class="feed-list__post-card" acccent="success">
          <nb-card-header>{{ entry?.post?.title }}</nb-card-header>
          <nb-card-body>
            <div class="post__wrap" [innerHTML]="entry?.post?.text"></div>
            <!-- <ng-container
              *ngTemplateOutlet="
                entry?.post?.text?.length > 2000 ? partialText : fullText
              "
            ></ng-container> -->
            <ng-template #fullText>
              <p>
                {{ entry?.post?.text }}
              </p>
            </ng-template>
            <ng-template #partialText>
              <p>
                {{ entry?.post?.text?.substring(0, 2000).concat('...') }}
              </p>
            </ng-template>
          </nb-card-body>
          <nb-card-footer>
            <nb-actions size="small" accent="primary" responsive>
              <nb-action>
                <nb-user
                  badgePosition="bottom end"
                  badgeStatus="warning"
                  [badgeText]="
                    (entry?.ownerProfile?.metadata?.totalStars || 0) + ' stars'
                  "
                  size="large"
                  [name]="entry?.ownerFirstName + ' ' + entry?.ownerLastName"
                  [picture]="entry.ownerPictureUrl"
                >
                </nb-user
              ></nb-action>
              <nb-action>
                {{ entry?.post?.createdAt | customShortDate }}
              </nb-action>
            </nb-actions>
          </nb-card-footer>
        </nb-card>
      </div>
      <helping-hand-paginator
        [query]="postQuery"
        [resourceTotalCount]="postsTotalCount"
        (pageChange)="handlePageChage($event)"
      >
      </helping-hand-paginator>
    </ng-template>

    <ng-template #postCreateTemplate>
      <nb-card>
        <nb-card-header>
          How can the community help?
        </nb-card-header>
        <nb-card-body>
          <div class="create-post-form__container">
            <label for="postTitle">Title:</label>
            <input
              [(ngModel)]="createPostDto.title"
              name="postTitle"
              type="text"
              nbInput
              fullWidth
              shape="round"
              placeholder="Tell people how they can help"
            />
            <label for="description">Provide more information about what you need help with:</label>
            <div class="editor__wrap">
              <quill-editor
                [(ngModel)]="createPostDto.text"
                placeholder=""
              >
              </quill-editor>
            </div>
          </div>
        </nb-card-body>
        <nb-card-footer>
          <button nbButton shape="round" fullWidth (click)="createPost()" hero>
            <nb-icon icon="checkmark-circle-outline"></nb-icon>
            Ask Favour
          </button>
        </nb-card-footer>
      </nb-card>
    </ng-template>
  </div>
</div>

<ng-template #welcomeCard let-ref="dialogRef">
  <nb-card class="welcome-card">
    <nb-card-header><h4>Welcome to Helping Hand</h4></nb-card-header>
    <nb-card-body>
      <p>
        Helping Hand helps you get that little bit of help when you need it and
        gives you a chance to help others out as well.
      </p>
      <p>
        <b>Important:</b> by default Helping Hand shares your email with other
        memebers of the community so that they're able to interact with you. We
        recommend that you go to the profile tab and customize how you prefer
        for other users to contact you e.g provide your instagram username
        instead.
      </p>
      <p>Thank you for checking out Helping Hand!</p>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton shape="round" (click)="ref.close()">Close</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #welcomeBackCard let-ref="dialogRef">
  <nb-card status="success">
    <nb-card-header>
      {{ today | customShortDate }}
    </nb-card-header>
    <nb-card-body>
      <h3>Welcome back to Helping Hand {{ userFirstName }} 👋</h3>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton shape="round" status="success" (click)="ref.close()">
        Close
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>
