.create-post-form__container {
  & > input,
  textarea,
  button {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  & > label {
    display: inline-block;
    margin-bottom: 10px;
  }
}

.feed-list__post-card {
  margin-top: 20px;
  margin-bottom: 20px;
}

.feed-list__post__wrap {
  &:hover {
    cursor: pointer;
    transition: all 250ms ease-in-out;
    transform: scale(1.025);
  }
}

.feed-list__pagin__wrap {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  & > button {
    margin-right: 20px;
    margin-top: 20px;
  }
}

.feed-list__new-post__wrap {
  margin-bottom: 20px;
}

.create-post__btn {
  animation: pulsate 2s infinite;
}

@keyframes pulsate {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0 0 0 16px rgba(0, 0, 0, 0);
  }
}

.post-body__textarea {
  resize: none;
}

.post__wrap {
  max-height: 40vh;
}
