<div class="feed-list__container">
  <div class="feed-list__inner-container">
    <div class="feed-list__new-post__wrap">
      <button
        nbButton
        fullWidth
        (click)="startPostCreation(postCreateTemplate)"
      >
        <nb-icon icon="plus-outline"></nb-icon>Create Post
      </button>
    </div>
    <button
      nbButton
      ghost
      fullWidth
      status="basic"
      routerLink="/pages/posts/manage"
    >
      <nb-icon icon="options-outline"></nb-icon>
      Manage Your Posts
    </button>
    <ng-container
      *ngTemplateOutlet="
        feedDataList?.length || postQuery.skip
          ? postListTemplate
          : noPostListTemplate
      "
    ></ng-container>
    <ng-template #noPostListTemplate>
      <h4 class="feed-list__no-feed-placeholder">No Posts Yet</h4>
    </ng-template>
    <ng-template #postListTemplate>
      <h3>Recent Posts</h3>
      <div
        class="feed-list__post__wrap"
        *ngFor="let entry of feedDataList; let i = index"
        (click)="navigateToPost(i)"
      >
        <nb-card class="feed-list__post-card">
          <nb-card-header>{{ entry?.post?.title }}</nb-card-header>
          <nb-card-body>
            <ng-container
              *ngTemplateOutlet="
                entry?.post?.text?.length > 2000 ? partialText : fullText
              "
            ></ng-container>
            <ng-template #fullText>
              <p>
                {{ entry?.post?.text }}
              </p>
            </ng-template>
            <ng-template #partialText>
              <p>
                {{ entry?.post?.text?.substring(0, 2000).concat('...') }}
              </p>
            </ng-template>
          </nb-card-body>
          <nb-card-footer>
            <nb-actions size="small" accent="primary" responsive>
              <nb-action
                ><nb-user
                  badgePosition="bottom end"
                  badgeStatus="warning"
                  [badgeText]="
                    (entry?.ownerProfile?.metadata?.totalStars || 0) +
                    ' stars'
                  "
                  size="large"
                  [name]="
                    entry?.ownerFirstName + ' ' + entry?.ownerLastName
                  "
                  [picture]="entry.ownerPictureUrl"
                >
                </nb-user
              ></nb-action>
            </nb-actions>
          </nb-card-footer>
        </nb-card>
      </div>
      <div class="feed-list__pagin__wrap">
        <button
          size="small"
          nbButton
          [disabled]="postQuery.skip === 0"
          (click)="onPageNav('prev')"
        >
          <nb-icon icon="chevron-left-outline"></nb-icon>
          Previous Page
        </button>
        <button
          size="small"
          nbButton
          (click)="onPageNav('next')"
          [disabled]="currentPage * postQuery.limit >= postsTotalCount"
        >
          <nb-icon icon="chevron-right-outline"></nb-icon>
          Next Page
        </button>
      </div>
    </ng-template>

    <ng-template #postCreateTemplate>
      <nb-card>
        <nb-card-header>
          Create a post
        </nb-card-header>
        <nb-card-body>
          <div class="create-post-form__container">
            <label for="postTitle">Title:</label>
            <input
              [(ngModel)]="createPostDto.title"
              name="postTitle"
              type="text"
              nbInput
              fullWidth
              placeholder="Short title describing what your post is about"
            />
            <label for="description">Text:</label>
            <textarea
              [(ngModel)]="createPostDto.text"
              name="description"
              nbInput
              fullWidth
              placeholder="Main body of your post"
            ></textarea>
            <button nbButton outline fullWidth disabled>
              <nb-icon icon="attach-outline"></nb-icon>
              Add A Picture (coming soon)
            </button>
            <button nbButton fullWidth (click)="createPost()">
              Post
            </button>
          </div>
        </nb-card-body>
      </nb-card>
    </ng-template>
  </div>
</div>
