@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';
@import '~@nebular/theme/styles/themes/dark';

// Helping Hand theme
$nb-themes: nb-register-theme(
  (
    font-family-primary: 'Lato',
    font-family-secondary: 'Lato',
    color-primary-100: #ceface,
    color-primary-200: #9ef6a8,
    color-primary-300: #6be685,
    color-primary-400: #44ce6f,
    color-primary-500: #13ae53,
    color-primary-600: #0d9553,
    color-primary-700: #097d50,
    color-primary-800: #066449,
    color-primary-900: #035344,
    color-primary-transparent-100: rgba(19, 174, 83, 0.08),
    color-primary-transparent-200: rgba(19, 174, 83, 0.16),
    color-primary-transparent-300: rgba(19, 174, 83, 0.24),
    color-primary-transparent-400: rgba(19, 174, 83, 0.32),
    color-primary-transparent-500: rgba(19, 174, 83, 0.4),
    color-primary-transparent-600: rgba(19, 174, 83, 0.48),
    color-success-100: #cdfcd2,
    color-success-200: #9cf9b0,
    color-success-300: #69ee93,
    color-success-400: #43de83,
    color-success-500: #0ec96e,
    color-success-600: #0aac6d,
    color-success-700: #079069,
    color-success-800: #04745f,
    color-success-900: #026058,
    color-success-transparent-100: rgba(14, 201, 110, 0.08),
    color-success-transparent-200: rgba(14, 201, 110, 0.16),
    color-success-transparent-300: rgba(14, 201, 110, 0.24),
    color-success-transparent-400: rgba(14, 201, 110, 0.32),
    color-success-transparent-500: rgba(14, 201, 110, 0.4),
    color-success-transparent-600: rgba(14, 201, 110, 0.48),
    color-info-100: #ceedfe,
    color-info-200: #9ed8fd,
    color-info-300: #6dbcf9,
    color-info-400: #49a1f4,
    color-info-500: #1077ed,
    color-info-600: #0b5ccb,
    color-info-700: #0844aa,
    color-info-800: #053089,
    color-info-900: #032171,
    color-info-transparent-100: rgba(16, 119, 237, 0.08),
    color-info-transparent-200: rgba(16, 119, 237, 0.16),
    color-info-transparent-300: rgba(16, 119, 237, 0.24),
    color-info-transparent-400: rgba(16, 119, 237, 0.32),
    color-info-transparent-500: rgba(16, 119, 237, 0.4),
    color-info-transparent-600: rgba(16, 119, 237, 0.48),
    color-warning-100: #fef6cb,
    color-warning-200: #feeb98,
    color-warning-300: #fddd65,
    color-warning-400: #fbce3e,
    color-warning-500: #f9b700,
    color-warning-600: #d69700,
    color-warning-700: #b37900,
    color-warning-800: #905e00,
    color-warning-900: #774a00,
    color-warning-transparent-100: rgba(249, 183, 0, 0.08),
    color-warning-transparent-200: rgba(249, 183, 0, 0.16),
    color-warning-transparent-300: rgba(249, 183, 0, 0.24),
    color-warning-transparent-400: rgba(249, 183, 0, 0.32),
    color-warning-transparent-500: rgba(249, 183, 0, 0.4),
    color-warning-transparent-600: rgba(249, 183, 0, 0.48),
    color-danger-100: #ffead6,
    color-danger-200: #ffcfad,
    color-danger-300: #ffae83,
    color-danger-400: #ff8f65,
    color-danger-500: #ff5b32,
    color-danger-600: #db3b24,
    color-danger-700: #b72119,
    color-danger-800: #930f12,
    color-danger-900: #7a0914,
    color-danger-transparent-100: rgba(255, 91, 50, 0.08),
    color-danger-transparent-200: rgba(255, 91, 50, 0.16),
    color-danger-transparent-300: rgba(255, 91, 50, 0.24),
    color-danger-transparent-400: rgba(255, 91, 50, 0.32),
    color-danger-transparent-500: rgba(255, 91, 50, 0.4),
    color-danger-transparent-600: rgba(255, 91, 50, 0.48)
  ),
  helping-hand,
  default
);

// Helping Hand Dark Theme
$nb-themes: nb-register-theme(
  (
    font-family-primary: 'Open Sans',
    font-family-secondary: 'Montserrat',
    color-primary-100: #ceface,
    color-primary-200: #9ef6a8,
    color-primary-300: #6be685,
    color-primary-400: #44ce6f,
    color-primary-500: #13ae53,
    color-primary-600: #0d9553,
    color-primary-700: #097d50,
    color-primary-800: #066449,
    color-primary-900: #035344,
    color-primary-transparent-100: rgba(19, 174, 83, 0.08),
    color-primary-transparent-200: rgba(19, 174, 83, 0.16),
  color-primary-transparent-300: rgba(19, 174, 83, 0.24),
    color-primary-transparent-400: rgba(19, 174, 83, 0.32),
    color-primary-transparent-500: rgba(19, 174, 83, 0.4),
    color-primary-transparent-600: rgba(19, 174, 83, 0.48),
    color-success-100: #cdfcd2,
    color-success-200: #9cf9b0,
    color-success-300: #69ee93,
    color-success-400: #43de83,
    color-success-500: #0ec96e,
    color-success-600: #0aac6d,
    color-success-700: #079069,
    color-success-800: #04745f,
    color-success-900: #026058,
    color-success-transparent-100: rgba(14, 201, 110, 0.08),
    color-success-transparent-200: rgba(14, 201, 110, 0.16),
    color-success-transparent-300: rgba(14, 201, 110, 0.24),
    color-success-transparent-400: rgba(14, 201, 110, 0.32),
    color-success-transparent-500: rgba(14, 201, 110, 0.4),
    color-success-transparent-600: rgba(14, 201, 110, 0.48),
    color-info-100: #ceedfe,
    color-info-200: #9ed8fd,
    color-info-300: #6dbcf9,
    color-info-400: #49a1f4,
    color-info-500: #1077ed,
    color-info-600: #0b5ccb,
    color-info-700: #0844aa,
    color-info-800: #053089,
    color-info-900: #032171,
    color-info-transparent-100: rgba(16, 119, 237, 0.08),
    color-info-transparent-200: rgba(16, 119, 237, 0.16),
    color-info-transparent-300: rgba(16, 119, 237, 0.24),
    color-info-transparent-400: rgba(16, 119, 237, 0.32),
    color-info-transparent-500: rgba(16, 119, 237, 0.4),
    color-info-transparent-600: rgba(16, 119, 237, 0.48),
    color-warning-100: #fef6cb,
    color-warning-200: #feeb98,
    color-warning-300: #fddd65,
    color-warning-400: #fbce3e,
    color-warning-500: #f9b700,
    color-warning-600: #d69700,
    color-warning-700: #b37900,
    color-warning-800: #905e00,
    color-warning-900: #774a00,
    color-warning-transparent-100: rgba(249, 183, 0, 0.08),
    color-warning-transparent-200: rgba(249, 183, 0, 0.16),
    color-warning-transparent-300: rgba(249, 183, 0, 0.24),
    color-warning-transparent-400: rgba(249, 183, 0, 0.32),
    color-warning-transparent-500: rgba(249, 183, 0, 0.4),
    color-warning-transparent-600: rgba(249, 183, 0, 0.48),
    color-danger-100: #ffead6,
    color-danger-200: #ffcfad,
    color-danger-300: #ffae83,
    color-danger-400: #ff8f65,
    color-danger-500: #ff5b32,
    color-danger-600: #db3b24,
    color-danger-700: #b72119,
    color-danger-800: #930f12,
    color-danger-900: #7a0914,
    color-danger-transparent-100: rgba(255, 91, 50, 0.08),
    color-danger-transparent-200: rgba(255, 91, 50, 0.16),
    color-danger-transparent-300: rgba(255, 91, 50, 0.24),
    color-danger-transparent-400: rgba(255, 91, 50, 0.32),
    color-danger-transparent-500: rgba(255, 91, 50, 0.4),
    color-danger-transparent-600: rgba(255, 91, 50, 0.48)
  ),
  helping-hand-dark,
  dark
);
