@import '~@angular/material/theming';
@include mat-core();

$hh-mint: (
  50: #effff9,
  100: #d8ffef,
  200: #beffe5,
  300: #a3ffdb,
  400: #90ffd3,
  500: #7cffcb,
  600: #74ffc6,
  700: #69ffbe,
  800: #5fffb8,
  900: #4cffac,
  A100: #ffffff,
  A200: #ffffff,
  A400: #f2fff9,
  A700: #d9ffed,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$hh-lime: (
    50 : #eefdf9,
    100 : #d5fbf0,
    200 : #baf9e7,
    300 : #9ef6dd,
    400 : #89f4d5,
    500 : #74f2ce,
    600 : #6cf0c9,
    700 : #61eec2,
    800 : #57ecbc,
    900 : #44e8b0,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #d5fff0,
    A700 : #bcffe7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$hh-orange: (
  50: #fcf3ec,
  100: #f8e0cf,
  200: #f4ccaf,
  300: #efb78e,
  400: #eba776,
  500: #e8985e,
  600: #e59056,
  700: #e2854c,
  800: #de7b42,
  900: #d86a31,
  A100: #ffffff,
  A200: #fff0ea,
  A400: #ffceb7,
  A700: #ffbc9d,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$hh-primary: mat-palette($hh-mint);
$hh-accent: mat-palette($hh-lime);
$hh-warn: mat-palette($hh-orange);

$hh-theme: mat-light-theme($hh-primary, $hh-accent, $hh-warn);

@include angular-material-theme($hh-theme);
