<nb-card>
  <nb-card-body>
    <nb-route-tabset [tabs]="tabs" fullWidth> </nb-route-tabset>
  </nb-card-body>
</nb-card>

<ng-template #welcomeCard let-ref="dialogRef">
  <nb-card class="profile-setup-form__card" [nbSpinner]="isLoading">
    <nb-card-header><h4>Welcome to Helping Hand</h4></nb-card-header>
    <nb-card-body>
      <p>
        Helping Hand helps you get that little bit of help when you need it
        and gives you a chance to help others out as well.
      </p>
      <p>
        <b>Important:</b> by default Helping Hand shares your email with
        other memebers of the community so that they're able to respond to
        your favour requests. We recommend that you go to the profile tab
        and customize how you prefer for other users to contact you e.g
        provide your instagram username instead.
      </p>
      <p>Thank you for crhecking out Helping Hand!</p>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close()">Close</button>
    </nb-card-footer>
  </nb-card>
</ng-template>


