<nb-layout>
  <nb-layout-column class="dashboard__container">
    <h1>Your Dashboard</h1>
    <nb-tabset>
      <nb-tab tabTitle="Favor Requests" tabIcon="globe-outline" responsive>
      </nb-tab>
      <nb-tab
        tabTitle="Make Favor Requests"
        tabIcon="message-square-outline"
        responsive
      >
      </nb-tab>
      <nb-tab tabTitle="Community" tabIcon="people-outline" responsive>
      </nb-tab>
      <nb-tab tabTitle="Profile" tabIcon="person-outline" responsive>
      </nb-tab>
    </nb-tabset>
    <!-- <nb-card size="giant">
      <nb-card-header><h3>Your Dashboard</h3></nb-card-header>
      <nb-card-body>

      </nb-card-body>
    </nb-card> -->
  </nb-layout-column>
</nb-layout>
