<nb-layout>
  <nb-layout-column class="dashboard__container">
    <h1>Your Dashboard</h1>
    <nb-tabset>
      <nb-tab tabTitle="Favor Requests" tabIcon="globe-outline" responsive>
      </nb-tab>
      <nb-tab
        tabTitle="Make Favor Requests"
        tabIcon="message-square-outline"
        responsive
      >
      </nb-tab>
      <nb-tab tabTitle="Community" tabIcon="people-outline" responsive>
      </nb-tab>
      <nb-tab tabTitle="Profile" tabIcon="person-outline" responsive> </nb-tab>
    </nb-tabset>

    <ng-template #profileStepForm let-ref="dialogRef">
      <nb-card>
        <nb-card-body>
          <nb-stepper orientation="horizontal">
            <nb-step label="Welcome">
              <h4>Welcome to Helping Hand!</h4>
              <p>
                We just need some information, to help us help you.
              </p>
              <div class="dashboard__profile-stepper__opts">
                <button nbButton disabled nbStepperNext>prev</button>
                <button nbButton nbStepperNext>next</button>
              </div>
            </nb-step>
            <nb-step label="Profile">
              <h4>Tell us a bit about yourself</h4>
              <textarea
                [(ngModel)]="bio"
                nbInput
                fullWidth
                placeholder="studying at Columbia University..."
                name="bio"
              ></textarea>
              <div class="dashboard__profile-stepper__opts">
                <button nbButton nbStepperPrevious>prev</button>
                <button nbButton nbStepperNext>next</button>
              </div>
            </nb-step>
            <nb-step label="Done">
              <h4>You're all set!</h4>
              <p>Thanks for taking the time to say more about yourself.</p>
              <div class="dashboard__profile-stepper__opts">
                <button nbButton nbStepperPrevious>prev</button>
                <button nbButton nbStepperNext (click)="createUserProfile(ref)">save</button>
              </div>
            </nb-step>
          </nb-stepper>
        </nb-card-body>
      </nb-card>
    </ng-template>
  </nb-layout-column>
</nb-layout>
