<nb-layout>
  <nb-layout-column class="dashboard__container">
    <h1>Your Dashboard</h1>
    <nb-tabset fullWidth>
      <nb-tab tabTitle="Make Favor Request" tabIcon="radio-outline" responsive>
        <helping-hand-favor-list></helping-hand-favor-list>
      </nb-tab>
      <nb-tab
        tabTitle="Favor Requests"
        tabIcon="message-circle-outline"
        responsive
      >
      <helping-hand-favor-request-list></helping-hand-favor-request-list>
      </nb-tab>
      <nb-tab tabTitle="Community" tabIcon="people-outline" responsive>
        <helping-hand-community></helping-hand-community>
      </nb-tab>
      <nb-tab tabTitle="Profile" tabIcon="person-outline" responsive>
        <helping-hand-profile></helping-hand-profile>
      </nb-tab>
    </nb-tabset>

    <ng-template #welcomeCard let-ref="dialogRef">
      <nb-card class="profile-setup-form__card" [nbSpinner]="isLoading">
        <nb-card-header><h4>Welcome to Helping Hand</h4></nb-card-header>
        <nb-card-body>
          <p>
            Helping Hand helps you to get that little bit of
            help when you need it and gives you a chance to help others out as
            well.
          </p>
        </nb-card-body>
        <nb-card-footer>
          <button nbButton (click)="ref.close()">Close</button>
        </nb-card-footer>
      </nb-card>
    </ng-template>
  </nb-layout-column>
</nb-layout>
