.post__back-btn__wrap {
  margin-bottom: 20px;
}

.comment-list__placeholder {
  opacity: .6;
}

.new-comment-input__wrap {
  margin-top: 20px;
  margin-bottom: 20px;
}

.post-author__wrap {
  margin-bottom: 20px;
}

.post-opts__wrap {
  display: flex;
  flex-direction: row;
  & > button {
    margin-right: 20px;
    margin-top: 20px;
  }
}
