.post__back-btn__wrap {
  margin-bottom: 20px;
}

.comment-list__placeholder {
  opacity: 0.6;
}

.new-comment-input__wrap {
  margin-top: 20px;
  margin-bottom: 20px;
}

.post-author__wrap {
  margin-bottom: 20px;
}

.post-opts__wrap {
  display: flex;
  flex-direction: row;
  & > button {
    margin-right: 20px;
    margin-top: 20px;
  }
}

.comments-pagin__wrap {
  display: flex;
  flex-direction: row;
  & > button {
    margin-right: 20px;
    margin-top: 20px;
  }
}

.help-btn__wrap {
  margin-top: 20px;
  & > button {
    animation: pulsate 2s infinite;
  }
}

@keyframes pulsate {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0 0 0 16px rgba(0, 0, 0, 0);
  }
}

.view-info-btn__wrap {
  width: 100%;
}

.post-cotainer {
  max-width: 90vw !important;
}
