<div>
  <div class="post__back-btn__wrap">
    <button nbButton routerLink="pages/feed">
      <nb-icon icon="chevron-left-outline"></nb-icon>
      Back
    </button>
  </div>
  <nb-card>
    <nb-card-header>
      <h3>{{ post?.title }}</h3>
    </nb-card-header>
    <nb-card-body>
      <p>
        {{ post?.text }}
      </p>
      <nb-actions size="medium" accent="primary" responsive>
        <nb-action
          ><nb-user
            size="medium"
            [name]="postOwner?.firstName + ' ' + postOwner?.lastName"
            [picture]="postOwner?.pictureUrl"
            [title]="postOwner?.role"
          >
          </nb-user
        ></nb-action>
        <nb-action>
          <button nbButton ghost status="basic">
            <nb-icon icon="message-square-outline" status="basic"> </nb-icon>
            Leave a comment
          </button>
        </nb-action>
        <nb-action>
          <button nbButton ghost status="basic">
            <nb-icon icon="star-outline" status="basic"> </nb-icon>
            Give a star
          </button>
        </nb-action>
        <nb-action>
          <button nbButton ghost status="basic">
            <nb-icon icon="heart-outline" status="basic"> </nb-icon>
            Favourite
          </button>
        </nb-action>
      </nb-actions>
      <h5>Comments</h5>
      <div *ngIf="post?.comments?.length === 0" class="comment-list__placeholder">
        <span>Be the first one to leave a comment!</span>
      </div>
    </nb-card-body>
    <nb-card-footer> </nb-card-footer>
  </nb-card>
</div>
