<div>
  <div class="post__back-btn__wrap">
    <button ghost nbButton routerLink="pages/feed">
      <nb-icon icon="chevron-left-outline"></nb-icon>
      Back
    </button>
  </div>
  <nb-card>
    <nb-card-header>
      <h3>{{ post?.title }}</h3>
    </nb-card-header>
    <nb-card-body>
      <p>
        {{ post?.text }}
      </p>
      <div class="post-author__wrap">
        <h5>Written By</h5>
        <nb-user
          size="giant"
          [name]="postOwner?.firstName + ' ' + postOwner?.lastName"
          [picture]="postOwner?.pictureUrl"
          [title]="postOwner?.role"
          badgePosition="bottom end"
          badgeStatus="warning"
          [badgeText]="(postOwnerProfile?.metadata?.totalStars || 0) + ' stars'"
        >
        </nb-user>
      </div>
      <div class="post-opts__wrap">
        <button
          size="small"
          status="success"
          hero
          (click)="
            toggleMetadataByKey(
              isPostStarred ? postActionType.Unstar : postActionType.Star
            )
          "
          nbButton
          [status]="isPostStarred ? 'danger' : 'primary'"
        >
          <nb-icon icon="star-outline"> </nb-icon>
          {{ isPostStarred ? 'Unstar' : 'Give A Star' }}
        </button>
        <button
          size="small"
          status="success"
          hero
          (click)="
            toggleMetadataByKey(
              isPostFavorited
                ? postActionType.Unfavorite
                : postActionType.Favorite
            )
          "
          nbButton
          [status]="isPostFavorited ? 'danger' : 'primary'"
        >
          <nb-icon icon="heart-outline"> </nb-icon>
          {{ isPostFavorited ? 'Unfavourite' : 'Favourite' }}
        </button>
      </div>
      <h5>Comments</h5>
      <div
        *ngIf="post?.comments?.length === 0"
        class="comment-list__placeholder"
      >
        <span>Be the first one to leave a comment!</span>
      </div>
      <div class="new-comment-input__wrap">
        <input
          fullWidth
          type="text"
          nbInput
          [placeholder]="'Tell ' + postOwner?.firstName + ' what you think!'"
        />
      </div>
      <button nbButton fullWidth ghost status="basic">
        <nb-icon icon="message-square-outline"></nb-icon>
        Leave Comment
      </button>
    </nb-card-body>
    <nb-card-footer> </nb-card-footer>
  </nb-card>
</div>
