<div class="favor-list__container">
  <div class="favor-list__new-favor__wrap">
    <button
      nbButton
      fullWidth
      (click)="
        openFavorFormWindow(favorForm, 'What kind of help are you looking for?')
      "
    >
      <nb-icon icon="plus-outline"></nb-icon>Ask for a Favour
    </button>
  </div>
  <ng-container
    *ngTemplateOutlet="
      favorList.length || favorQuery.skip
        ? favorListTemplate
        : noFavorListTemplate
    "
  ></ng-container>
  <ng-template #noFavorListTemplate>
    <h4 class="favor_list__no-favors-placeholder">No Favours Asked Yet</h4>
  </ng-template>
  <ng-template #favorListTemplate>
    <h4>Favour Requests by You</h4>
    <nb-accordion multi="true" status="primary">
      <nb-accordion-item
        *ngFor="let favor of favorList; let i = index"
        [disabled]="favor.isFufilled"
      >
        <nb-accordion-item-header>
          {{ favor.title }}
          <span *ngIf="favor.isFufilled" class="favor-list__completed-favor"
            >&nbsp;(compeleted)</span
          >
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <p>Description: {{ favor.text ? favor.text : 'None' }}</p>
          <p>Fufilled: {{ favor.isFufilled ? 'Yes' : 'Not yet' }}</p>
          <p>Expires: {{ favor.deadline | date: 'fullDate' }}</p>
          <div class="favor-list__favor-opts">
            <button nbButton outline (click)="fufillFavor(i)">
              <nb-icon icon="checkmark-circle-outline"></nb-icon>Mark as
              Compelete
            </button>
            <button
              nbButton
              outline
              status="info"
              (click)="openFavorEditWindow(favorForm, i)"
            >
              <nb-icon icon="edit-outline"></nb-icon>Edit
            </button>
            <button nbButton outline status="danger" (click)="deleteFavor(i)">
              <nb-icon icon="trash-2-outline"></nb-icon>Delete
            </button>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
    <div class="favor-list__pagin__wrap">
      <button
        nbButton
        [disabled]="favorQuery.skip === 0"
        (click)="onPageNav('prev')"
      >
        Previous Page
      </button>
      <button
        nbButton
        (click)="onPageNav('next')"
        [disabled]="currentPage * favorQuery.limit >= favorsTotalCount"
      >
        Next Page
      </button>
    </div>
  </ng-template>

  <ng-template #favorForm let-heading="heading" let-context="$implicit">
    <div class="create-favor-form__container">
      <label for="favorTitle">Title:</label>
      <input
        [(ngModel)]="favorBody.title"
        name="favorTitle"
        type="text"
        nbInput
        fullWidth
        placeholder="Short title describing what you need e.g Bike Pump Needed at UCD!"
      />
      <label for="description">Description:</label>
      <textarea
        [(ngModel)]="favorBody.text"
        name="description"
        nbInput
        fullWidth
        placeholder="Add some more information here if you wish"
      ></textarea>
      <label for="helpDate">Favour Request Expiry Date</label>
      <input
        [(ngModel)]="favorBody.deadline"
        name="helpDate"
        nbInput
        fullWidth
        placeholder="When do you need help by?"
        [nbDatepicker]="datePicker"
      />
      <nb-datepicker #datePicker [min]="today"></nb-datepicker>
      <button nbButton outline fullWidth disabled>
        <nb-icon icon="attach-outline"></nb-icon>
        Add A Picture (coming soon)
      </button>
      <div class="create-favor-form__tip__wrap">
        <!-- <span
          >Tip: adding a picture can help people know exactly what you're
          looking for!</span
        > -->
      </div>
      <button
        nbButton
        fullWidth
        (click)="context.isEditing ? updateFavor() : createFavor()"
      >
        {{ context.isEditing ? 'Save Changes' : 'Make Favour Request' }}
      </button>
    </div>
  </ng-template>
</div>
